hr {
    margin: 0;
}

.rodape {
    background-color: var(--branco);
    padding: 1em;
    color: var(--azul);
}

.lista-rodape {
    display: none;
}

@media screen and (min-width: 1024px) {
    
    .lista-rodape{
        display: block;
    }
    
    .rodape {
        display: flex;
        padding: 5em;
        justify-content: space-around;
    }

    .lista-rodape__item {
        display: flex;
        align-items: center;
        margin: 0.6em 0;

    }


    .lista-rodape__link {
        text-decoration: none;
        color: var(--cinza);
        margin-left: 0.6em;
    }

    .lista-rodape__titulo {
        color:var(--cinza-claro);
        font-weight: 500;
        
    }

    .rodape__titulo {
        font-size: 24px;
    }

    .lista-rodape__link:hover {
        color: var(--laranja);
        font-weight: 500;
    }
}

@media screen and (min-width: 1728px) {
   
    .rodape {
        padding: 8em 5em;
    }
   
    .lista-rodape {
        border-left: 1px solid var(--cinza-claro);
        padding-left: 1em;
    }


}